<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- offcanvas-trigger-effects -->
        <h1 class="logo"><a class="navbar-brand" routerLink="/"><img src="styles/img/logo.png" alt=""></a></h1>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a routerLink="/">Inicio</a></li>

          <li class="dropdown"><a href="#">Acerca <b class="caret"></b></a>
            <!-- submenu-wrapper -->
            <div class="submenu-wrapper submenu-wrapper-topbottom">
              <div class="submenu-inner  submenu-inner-topbottom">
                <ul class="dropdown-menu">
                  <li><a routerLink="/acerca-de-nosotros">Acerca de Nosotros</a></li>
                  <li><a routerLink="/acerca-de-mi">Acerca de Mi</a></li>
                </ul>
              </div><!-- /.submenu-inner -->
            </div> <!-- /.submenu-wrapper -->
          </li>

          <li class="dropdown"><a href="#">Blog <b class="caret"></b></a>
            <!-- submenu-wrapper -->
            <div class="submenu-wrapper submenu-wrapper-topbottom">
              <div class="submenu-inner  submenu-inner-topbottom">
                <ul class="dropdown-menu">
                  <li><a routerLink="/blog-standard">Blog Standard</a></li>
                  <li><a routerLink="/blog-single">Blog Single</a></li>
                </ul>
              </div><!-- /.submenu-inner -->
            </div> <!-- /.submenu-wrapper -->
          </li>

          <li class="dropdown"><a href="#">Portfolio <b class="caret"></b></a>
            <!-- submenu-wrapper -->
            <div class="submenu-wrapper submenu-wrapper-topbottom">
              <div class="submenu-inner  submenu-inner-topbottom">
                <ul class="dropdown-menu">
                  <li><a routerLink="/portfolio-four">Portfolio Four Col</a></li>
                  <li><a routerLink="/portfolio-three">Portfolio Three Col</a></li>
                  <li><a routerLink="/portfolio-two">Portfolio Two Col</a></li>
                </ul>
              </div><!-- /.submenu-inner -->
            </div> <!-- /.submenu-wrapper -->
          </li>


          <li class="dropdown"><a href="#">Pages <b class="caret"></b></a>
            <!-- submenu-wrapper -->
            <div class="submenu-wrapper submenu-wrapper-topbottom">
              <div class="submenu-inner  submenu-inner-topbottom">
                <ul class="dropdown-menu">
                  <li><a routerLink="/job">Job Page</a></li>
                  <li><a routerLink="/clients">Clients Page</a></li>
                  <li><a routerLink="/faq">FAQ Page</a></li>
                  <li><a routerLink="/typography">Typography</a></li>
                </ul>
              </div><!-- /.submenu-inner -->
            </div> <!-- /.submenu-wrapper -->
          </li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
