<section class="page-header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Typography</h1>
        </div>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li class="active">Typography</li>
        </ol>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>

<div class="container">
  <div class="content-wrapper">
    <div class="typography-page-wrapper">
      <h1>H1 Heading</h1>
      <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
      <h2>H2 Heading</h2>
      <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
      <h3>H3 Heading</h3>
      <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
      <h4>H4 Heading</h4>
      <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
      <h5>H5 Heading</h5>
      <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
      <h6>H6 Heading</h6>
      <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
      <br>

      <div class="jumbotron jumbotron-primary">
        <div class="page-header">
          <h1>Page Title</h1>
        </div>
      </div>
      <br>


      <h2 class="section-title">Section Title</h2>
      <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede. Felis vel tincidunt wisi elit quis vestibulum Curabitur iaculis consequat Proin. Vitae Pellentesque elit interdum.</p>
      <hr>
      <br>

      <h2 class="entry-title">Blog post title</h2>
      <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede.</p>
      <hr>
      <br>

      <h2>Blockquote</h2>
      <br>
      <blockquote><em>Collaboratively expedite principle-centered methodologies with inexpensive catalysts for change. Intrinsicly administrate go forward communities after team building paradigms. Efficiently maintain professional networks vis-a-vis bricks-and-clicks testing procedures.</em><em><b><br></b></em><small>Jhon Doe</small></blockquote>
      <hr>
      <br>

      <h3>List Style</h3>
      <div class="row "> 
        <div class="col-md-3">
          <pre>ul class="check-square"</pre>
          <ul class="check-square">
            <li>List Style</li>
            <li>List Style</li>
            <li>List Style</li>
            <li>List Style</li>
          </ul>
        </div> 
        <div class="col-md-3">
          <pre>ul class="check-square-o"</pre>
          <ul class="check-square-o">
            <li>List Style</li>
            <li>List Style</li>
            <li>List Style</li>
            <li>List Style</li>
          </ul>
        </div> 
        <div class="col-md-3">
          <pre>ul class="check"</pre>
          <ul class="check">
            <li>List Style</li>
            <li>List Style</li>
            <li>List Style</li>
            <li>List Style</li>
          </ul>
        </div> 
        <div class="col-md-3">
          <pre>ul class="check-circle"</pre>
          <ul class="check-circle">
            <li>List Style</li>
            <li>List Style</li>
            <li>List Style</li>
            <li>List Style</li>
          </ul>
        </div> 
      </div>
      <hr>
      <br>

      <div class="row"> 
        <div class="col-md-7 button-style">
          <h3>Button Style</h3>
          <button class="btn btn-default" type="button">Default</button> 
          <button class="btn btn-primary" type="button">Primary</button> 
          <button class="btn btn-success" type="button">Success</button> 
          <button class="btn btn-info" type="button">Info</button> 
          <button class="btn btn-warning" type="button">Warning</button> 
          <button class="btn btn-danger" type="button">Danger</button> 
          <button class="btn btn-link" type="button">Link</button>
          <br>
          <br>
          <button class="btn btn-primary btn-lg" type="button">Large button</button> 
          <button class="btn btn-default btn-lg" type="button">Large button</button>
          <br>
          <br>
          <button class="btn btn-primary" type="button">Default button</button> 
          <button class="btn btn-default" type="button">Default button</button>
          <button class="btn btn-primary btn-sm" type="button">Small button</button> 
          <button class="btn btn-default btn-sm" type="button">Small button</button>
          <br>
          <br>
          <button class="btn btn-primary btn-xs" type="button">Extra small button</button> 
          <button class="btn btn-default btn-xs" type="button">Extra small button</button>
          <br>
          <br>
          <button class="btn btn-primary btn-lg btn-block" type="button">Block level button</button> 
          <button class="btn btn-default btn-lg btn-block" type="button">Block level button</button>
        </div><!-- /.col-md-7 -->


        <div class="col-md-5">
          <h3>Form</h3>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label> 
              <input id="exampleInputEmail1" class="form-control" type="email" placeholder="Enter email">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Password</label> 
              <input id="exampleInputPassword1" class="form-control" type="password" placeholder="Password">
            </div>

            <div class="form-group"><label>Message</label> 
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="checkbox">
              <label> </label>
              <input type="checkbox"> Check me out 
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div><!-- /.row -->
      <hr>
      <br>

      <div class="row"> 
        <div class="col-md-6 tab-style">
          <h3>Tab</h3>
          <br>
                  <div class="typography-page-tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher keffiyeh dreamcatcher synth.</p>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="profile">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation labore velit, blog sartorial leggings next level wes anderson artisan four loko farm-to-table craft beer culpa terry richardson biodiesel</p>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="messages">
                        <p>Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum. Homo nostrud organic, assumenda labore ethical culpa terry richardson biodiesel ethical culpa terry richardson biodiesel.</p>
                      </div>
                    </div>
                  </div>
        </div> 

        <div class="col-md-6">
          <h3>Accordion</h3>
          <br>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-link" role="tab" id="headingOne">
                <h2 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Accordion title One
                  </a>
                </h2>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-link" role="tab" id="headingTwo">
                <h2 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Accordion title Two
                  </a>
                </h2>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-link" role="tab" id="headingThree">
                <h2 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Accordion title Three
                  </a>
                </h2>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
              </div>
            </div>
          </div>


        </div>
      </div> <!-- /.row -->
      <hr>
      <br>
      <h3>Full Column</h3>
      <p>Est nulla senectus dapibus fringilla tortor Nulla laoreet tempus pretium lorem. Vestibulum lacus et nonummy id Nam ut volutpat ipsum sit metus. Sed enim eros Proin Nullam laoreet dictumst cursus Sed Fusce eu. Est auctor et mauris egestas at Quisque montes lacus ac pede. Felis vel tincidunt wisi elit quis vestibulum Curabitur iaculis consequat Proin. Vitae Pellentesque elit interdum auctor et mauris egestas at Quisque montes lacus ac pede.</p>
      <hr>
      <div class="row "> 
        <div class="col-sm-6">
          <h3>One Half</h3>
          <p>In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet, vulputate eros. In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet, vulputate.</p>
        </div>

        <div class="col-sm-6">
          <h3>One Half</h3>
          <p>In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet, vulputate eros. In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet, vulputate.</p>
        </div>
      </div><!-- /.row -->
      <hr>
      <div class="row "> 
        <div class="col-sm-4">
          <h3>One Third</h3>
          <p>In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis. In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet.</p>
        </div> 
        <div class="col-sm-4">
          <h3>One Third</h3>
          <p>In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis. In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet.</p>
        </div> 
        <div class="col-sm-4">
          <h3>One Third</h3>
          <p>In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis. In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet.</p>
        </div>
      </div><!-- /.row -->
      <hr>
      <div class="row "> 
        <div class="col-sm-3">
          <h3>One Fourth</h3>
          <p>In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet, vulputate.</p>
        </div> 
        <div class="col-sm-3">
          <h3>One Fourth</h3>
          <p>In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet, vulputate.</p>
        </div> 
        <div class="col-sm-3">
          <h3>One Fourth</h3>
          <p>In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet, vulputate.</p>
        </div> 
        <div class="col-sm-3">
          <h3>One Fourth</h3>
          <p>In et posuere orci. Vestibulum ornare metus pulvinar vehicula mollis. Duis varius efficitur tincidunt. Phasellus in mattis magna, ut iaculis lorem. Sed eu orci hendrerit, tempus quam sit amet, vulputate.</p>
        </div> 
      </div><!-- /.row -->
      <hr>
      <h3>Skill Chart</h3>

              <div class="row typography-page-chart text-center">
                  <div class="col-md-3 col-sm-6">
                    <div class="our-progress">
                      <div class="chart" data-percent="73">
                        <span class="percent">73</span>
                      </div>
                    </div>
        </div>
        <div class="col-md-3 col-sm-6">
                    <div class="our-progress">
                      <div class="chart" data-percent="80">
                        <span class="percent">80</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="our-progress">
                      <div class="chart" data-percent="90">
                        <span class="percent">90</span>
                      </div>
                    </div>
                  </div>
        <div class="col-md-3 col-sm-6">
                    <div class="our-progress">
                      <div class="chart" data-percent="70">
                        <span class="percent">70</span>
                      </div>
                    </div>
                  </div>
            </div>
    </div><!-- /.job-page-wrapper -->
  </div><!-- /.content-wrapper -->
</div><!-- /.container -->